body {
font-family: 'Source Sans Pro', sans-serif;
}
a {
    color:darkblue;
}
a:hover{
	color:orange;
}

#one:hover{
    color:orange;
}
#two:hover{
    color:orange;
}
.navbar-brand {
    font-size: 1.6em;
    color: orange ;
    font-weight: bold;
    vertical-align: middle;
}
nav {
    font-size: 1.5em;
    vertical-align: middle;
}
.dropdown-toggle {
    color: white;
    vertical-align: middle;
    margin-right: 15px;
}
#link {
    color: white;
}
#link:hover{
    color: orange;
}
#post1 {
    font-size: 1.5em;
}
.fieldWrapper {
    margin-left: 36%;
    font-size: 1.2em;
   
}
.display-4 {
    margin-top:50px;
}
.help {
    color:white;
}
.fields {
    font-weight: bold;
}
#signupbtn {
    margin-left: 45%;
    width: 200px;
}
#loginbtn {
    margin-left: 39%;
    width: 150px;
}
#login {
    margin-right: 17%;
}
.post-media {
	border: 6px solid #01c7be;
    padding-top:2px;
    padding-left: 10px;
    margin-top: 15px;
}
.content {
    margin-left: 28%;
    margin-top:1%;
}
.createnewgrpbtn {
    margin-left: auto;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.form {
    margin-left:25%;
    margin-top: 5%;
    font-weight: bold;
    font-size: 20px;
}
#jl {
    width: 100px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 450px;
    margin: auto;
    text-align: center;
    background-color:lightblue;
    margin-top: 40px;
    font-size: 1.7em;
  }
#profilename{
    font-size: 2.0em;
    font-weight: bold;
}
.profileform{
    width: 30%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 5%;
}
#addfrndbtn {
    float: right;
    font-weight: bold;
}

#addbtn {
    font-weight: bold;
}
.userlist {
    margin-left: 5%;
}