{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <title>Index Page</title>
    <link rel="stylesheet" href={% static "css/base.css"%}>

    <!--<script src="{% static "js/base.js"%}"> </script>-->

     <!-- jQuery library -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"> 

    </head>
    <body>

  <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href={% url "home"%}>Connecto</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-envelope-o">
          </i>
          Messages
        </a>
      </li>
    </ul>
    
    {% if user.is_authenticated %}

   <ul class="navbar-nav navbar-right">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          Posts
          </a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="#">
        Groups
          </a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="#">
         Create group
          </a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href={% url "accounts:logout"%}>
         Logout
          </a>
      </li>
    </ul>
      {% else %}
     <ul class="navbar-nav navbar-right">
      <li class="nav-item active">
        <a class="nav-link" href="#">
        Groups
          </a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href={% url "accounts:login"%}>
         Login
          </a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href={% url "accounts:signup"%}>
         Sign up
          </a>
      </li>
    </ul>
    {% endif %}
  </div>
</nav>


<div class="content container">
</div>
 {% block content%}

    {% endblock %}

  </body>
</html>