<div class="post-media">
    <h2><b>{{post.user.username}}</b></h2>
    <br>
        <div class="media-body">
            <h4> <U>{{post.message_html|safe}}</U></h4>
                {% if post.group %}
                    <h4>  Posted in: {{post.group.name}}</h4>
                    <br>
                {% endif %}
                {% if request.user.is_authenticated %}
                <h5><a href="{% url 'posts:for_user' username=post.user.username %}">All Posts </a></h5>
                <h5><a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">Post details </a></h5>
                {% endif %}
        </div>
        <div class="media-footer">
            {% if request.user.is_authenticated and request.user == post.user %}
                 <a href="{% url 'posts:delete' pk=post.pk %}" class="btn btn-lg btn-danger"> Delete Post </a>
            {% endif %}
        </div>
    </div>