{% extends 'posts/post_base.html' %}

{% block prepost %}
    <div class="col-md-4">
     <h2> Posted by : {{post.user.username }} </h3>
     {% if post.group %}
        <h3> Posted in : {{post.group.name}} </h3>
     {% endif %}
        <h4> {{post.message_html|safe}}</h3>
        <h4> Posted on: {{post.created_at|date:"M D, Y"}} </h4>
     <br>
     <br>
    {% if request.user.is_authenticated and post.user == request.user %}
        <a href="{% url 'posts:delete' pk=post.pk %}" class="btn btn-lg btn-danger"> Delete Post </a>
        <a href="{% url 'posts:edit' pk=post.pk %}" class="btn btn-lg btn-info"> Update Post </a>
    {% endif %}
{% endblock %}